@import '~sass/mixin';

.event-avatar {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}

.event-name {
  @include breakText();
  @include ellipsisText();
  margin-left: 12px;
  flex-grow: 1;
}

.root {
  @include defaultLayout();
}

.row {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 6px;
  }
}
