@import '~web/sass/mixin';

.event-avatar {
  height: 50px;
  width: 50px;
}

.event-name {
  @include breakText();
  @include ellipsisText();
}

.information {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 4px;
  }
}

.pagination {
  padding: 0;
}

.root {
  @include defaultLayout();
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  align-items: flex-start;
  gap : 8px;
}

.row {
  display: flex;

  &:not(:first-child) {
    margin-top: 6px;
  }
}

.see-more {
  margin-top: 12px;
  width: 100%;
}
