@import '~sass/mixin';

.event-avatar {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}

.event-link {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.event-name {
  @include breakText();
  @include ellipsisText();
  margin-left: 12px;
}

.pagination {
  padding: 0;
}

.root {
  @include defaultLayout();
  margin-bottom: 12px;
}

.row {
  display: flex;

  &:not(:first-child) {
    margin-top: 6px;
  }
}

.see-more {
  margin-top: 12px;
  width: 100%;
}
