{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "class-property"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true,
      "classes": true,
      "jsx": true
    }
  },
  "globals": {
    "Set": true,
    "console": true,
    "document": true,
    "fetch": true,
    "window": true,
    "location": true,
    "URLSearchParams": true,
    "Promise": true,
    "localStorage": true
  },
  "settings": {
    "react": {
      "version": "16.6.0"
    }
  },
  "rules": {
    "no-console": 0
  }
}
