@import '~web/sass/color';
@import '~web/sass/media';
@import '~web/sass/mixin';

.form-row {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 8px;
  }
}

.label {
  @include label();
}

.note {
  @include note();
  margin: 5px 0 0 10px;
}

.root {
  display: flex;
  flex-direction: column;
  @include defaultLayout();
  @include verticalMargin();
}

.selector {
  width: 100%;
}
