@import '~sass/color';
@import '~sass/media';
@import '~sass/mixin';

.label {
  @include label();
}

.root {
  display: flex;
  flex-direction: column;
  @include defaultLayout();
  @include verticalMargin();
}

.form-row {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 8px;
  }
}
