@import '~web/sass/mixin';

.checkout-button {
  margin-top: 12px;
  width: 100%;
}

.item-name {
  @include ellipsisText();
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.note {
  margin-top: 12px;
  @include note();
}

.root {
  @include defaultLayout();
}
