@import '~sass/color';

.children {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.root {
  padding: 8px;
  background-color: $main;
  color: $white;
  border: 0px solid;
  border-radius: 3px;
  font-size: 1rem;
}

.loading {
  display: flex;
  justify-content: space-between;
}
