@import '~sass/media';

.root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:first-child) {
    margin-top: 5px;
  }
}

@include phone() {
  .root {
    padding: 15px;
  }
}

@include not_phone() {
  .root {
    width: 60%;
  }
}
