@import '~sass/mixin';

.avatar {
  height: 50px;
  width: 50px;
}

.create-item {
  align-self: flex-end;
}

.event-name {
  font-size: 1.5rem;
  @include breakText();
  @include ellipsisText();
}

.item-name {
  text-decoration: none;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.page-title {
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 8px;
  }
}

.pagination {
  display: flex;
  flex-direction: column;
}

.root {
  @include defaultLayout();
}

.see-more {
  margin-top: 12px;
  width: 100%;
}
