@import '~sass/color';
@import '~sass/media';

.email-section {
  display: flex;
  flex-direction: column;

  > * {
    flex-grow: 1;
  }
}

.email-note {
  font-size: 0.8rem;
  margin: 5px 0 0 10px;
  color: $information;
}

.vertical-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

.root {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

@include phone() {
  .root {
    padding: 15px;
  }
}

@include not_phone() {
  .root {
    width: 60%;
  }
}
