@import '~sass/color';
@import '~sass/media';
@import '~sass/mixin';

.avatar {
  align-self: center;
}

.row {
  display: flex;
  flex-direction: column;

  > * {
    flex-grow: 1;
  }
}

.note {
  @include note();
    margin: 5px 0 0 10px;
}

.vertical-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

.root {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  @include defaultLayout();

  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

@include phone() {
  .avatar-image-upload img {
    width: 80px;
    height: 80px;
  }
}

@include not_phone() {
  .avatar-image-upload img {
    width: 120px;
    height: 120px;
  }
}
