@import '~sass/color';
@import '~sass/media';

.avatar {
  align-self: center;
}

.email-section {
  display: flex;
  flex-direction: column;

  > * {
    flex-grow: 1;
  }
}

.vertical-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

.root {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

@include phone() {
  .avatar-image-upload img {
    width: 80px;
    height: 80px;
  }
}

@include not_phone() {
  .avatar-image-upload img {
    width: 120px;
    height: 120px;
  }
}
