@import '~sass/color';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1rem;

  &.main {
    color: $main;
  }

  &.success {
    background-color: $success;
    color: $white;
  }

  &.error {
    background-color: $error;
    color: $white;
  }

  &.warn {
    background-color: $warn;
    color: $white;
  }
}
