@import '~sass/media';

.avatar {
  object-fit: cover;
}

.input {
  display: none;
}

.root {
  border: none;
  background: none;
}

@include phone() {
  .avatar {
    width: 80px;
    height: 80px;
  }
}

@include not_phone() {
  .avatar {
    width: 120px;
    height: 120px;
  }
}
