@import '~sass/color';

.root {
  color: $anchor;

  &.button {
    font-size: 1rem;
    padding: 8px;
    background-color: $main;
    color: $white;
    border: 0px solid;
    border-radius: 3px;
    text-align: center;
  }
}
