@import '~sass/color';

.root {
  &:not(.button) {
    &:hover {
      color: darken($anchor, 10%);
    }

    &:not(:hover) {
      color: $anchor
    }
  }

  &.button {
    font-size: 1rem;
    color: $white;
    border: 0px solid;
    border-radius: 3px;
    text-align: center;

    &:not(.icon) {
      padding: 8px;
    }

    &:hover {
      background-color: darken($main, 10%);
    }

    &:not(:hover) {
      background-color: $main;
    }
  }

  &.icon {
    padding: 8px 16px;
  }
}
