@import '~sass/color';

.root {
  h1, h2, h3, h4, h5, h6, p, span, a, div, button {
    font-family: 'Open Sans', sans-serif;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }
}
